<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Selamat Datang</h2>
                <div class="text-center">
                    <a href="/incubators" class="btn btn-primary">Incubator</a>
                </div>
            </div>
        </div>
        <p>
            <h1>Mengenal Pentingnya Inkubator Bisnis bagi Startup Baru</h1>
            <p>
                Bisnis rintisan baru berbasis digital, atau yang lebih dikenal dengan startup, terus mengalami perkembangan dan peningkatan jumlah di Indonesia. Kendati telah populer sejak tahun 2010, kini Indonesia diprediksi telah memiliki setidaknya dua ribu perusahaan startup. Seperti yang pernah dilansir media Antara, sulit menentukan jumlah pastinya dikarenakan sifat dari startup yang dinamis dan tersebar di seluruh daerah di Indonesia.
                 <img src="https://konsultanku.co.id/assets/images/d01aebb5d04dd0770cd669c0aaee1177.jpg" alt="Startup Image"><br>
                Dinamika jumlah startup di Indonesia tersebut, salah satunya juga dipengaruhi oleh tingginya faktor kegagalan dan kebangkrutan. Banyak startup baru yang gagal berkembang karena perencanaan bisnis yang salah, ketatnya persaingan pasar, serta minimnya suntikan dana dari investor.
            </p>
          
        </p>
    </div>
    
</body>
</html>
